{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "all",
  "bracketSpacing": true,
  "prettier.eslintIntegration": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always"
}
